#content #data-search .account-info img,
#content #data-search .account-actions img {width: 24px; height: 24px;margin: 0 0.5em;}

#content #data-search {text-align: center; padding: 0.5em 0;}
#content #data-search .account-label{
    width: 95%;
    height: 70px;
    text-align: left;
    margin: 0;
    margin-bottom: 0.2em;
    padding: 0.5em;
    color: #696969;
    background-color: #fcfcfc;
    display: inline-block;
}
#content #data-search .account-label .label-field{float: left; width: 18%; height: 3em;}
#content #data-search .account-label .field-name{float: left; width: 80px; padding: 0.3em 0.2em; color: #b9b9b9; display: none}
#content #data-search .account-label .field-text{float: left; width: 95%; padding: 0.3em 0.3em; word-wrap: break-word;}
#content #data-search .account-label .header .field-name{color: white; font-weight: bold}

#content #data-search .account-label .field-text a{color: #4895FA}
#content #data-search .account-label .no-link a{color: white; font-weight: bold;}

#content #data-search .field-customer .field-text{height: 2.5em}

#content #data-search .field-category{width: 10% !important;}

#content #data-search .account-info{
    float: left;
    clear: left;
    width: 20%;
    /*height: 2em;*/
    padding: 0.5em 0;
    text-align: left;
    /*border-top: 1px solid #d9d9d9;*/
    border: none;
}

#content #data-search .account-actions{
    float: right;
    position: relative;
    top: -3em;
    width: auto;
    max-width: 18%;
    height: auto;
    padding: 0.5em;
    text-align: right;
    /*border-top: 1px solid #c9c9c9;*/
    background-color: transparent;
    box-shadow:  0 0 8px rgba(0, 0, 0,  0.075) inset;
}
#content #data-search .account-actions img{margin:3px 5px;}
#content .actions-optional{display: none;}
#content #data-search .account-spacer{width: 100%; height: 8em;}