<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="./tests/SP/bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Core">
            <directory suffix=".php">./tests/SP</directory>
            <exclude>./tests/SP/Modules</exclude>
        </testsuite>
        <testsuite name="Modules">
            <directory suffix=".php">./tests/SP/Modules</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./lib/SP</directory>
            <exclude>
                <directory suffix=".php">./lib/SP/DataModel</directory>
                <directory suffix=".php">./lib/SP/Html/Assets</directory>
                <directory suffix=".php">./lib/SP/Html/DataGrid</directory>
                <file>./lib/SP/Config/ConfigData.php</file>
            </exclude>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-clover" target="./tests/_output/coverage-clover.xml"/>
        <log type="coverage-text" target="php://stdout" showUncoveredFiles="false" showOnlySummary="true" />
    </logging>
</phpunit>