.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    width: 1em;
    height: 1em;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-60 { font-size: 60px; }

.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

.mdl-button {margin: 0 .3em;}

.fg-blue20 {color: rgba(68, 138, 255, .2)}
.fg-blue40 {color: rgba(68, 138, 255, .4)}
.fg-blue60 {color: rgba(68, 138, 255, .6)}
.fg-blue80 {color: rgba(68, 138, 255, .8)}
.fg-blue100 {color: rgb(68, 138, 255)}

.mdl-button--fab.mdl-button--colored.bg-blue20 {background-color: rgba(68, 138, 255, .2)}
.mdl-button--fab.mdl-button--colored.bg-blue40 {background-color: rgba(68, 138, 255, .4)}
.mdl-button--fab.mdl-button--colored.bg-blue60 {background-color: rgba(68, 138, 255, .6)}
.mdl-button--fab.mdl-button--colored.bg-blue80 {background-color: rgba(68, 138, 255, .8)}
.mdl-button--fab.mdl-button--colored.bg-blue100 {background-color: rgb(68, 138, 255)}

.fg-orange20 {color: rgba(255, 193, 7, .2)}
.fg-orange40 {color: rgba(255, 193, 7, .4)}
.fg-orange60 {color: rgba(255, 193, 7, .6)}
.fg-orange80 {color: rgba(255, 193, 7, .8)}
.fg-orange100 {color: rgba(255, 193, 7, 1)}

.mdl-button--fab.mdl-button--colored.bg-orange20 {background-color: rgba(255, 193, 7, .2)}
.mdl-button--fab.mdl-button--colored.bg-orange40 {background-color: rgba(255, 193, 7, .4)}
.mdl-button--fab.mdl-button--colored.bg-orange60 {background-color: rgba(255, 193, 7, .6)}
.mdl-button--fab.mdl-button--colored.bg-orange80 {background-color: rgba(255, 193, 7, .8)}
.mdl-button--fab.mdl-button--colored.bg-orange100 {background-color: rgba(255, 193, 7, 1)}

.fg-red20 {color: rgba(244, 67, 54, .2)}
.fg-red40 {color: rgba(244, 67, 54, .4)}
.fg-red60 {color: rgba(244, 67, 54, .6)}
.fg-red80 {color: rgba(244, 67, 54, .8)}
.fg-red100 {color: rgb(244, 67, 54)}

.mdl-button--fab.mdl-button--colored.bg-red20 {background-color: rgba(244, 67, 54, .2)}
.mdl-button--fab.mdl-button--colored.bg-red40 {background-color: rgba(244, 67, 54, .4)}
.mdl-button--fab.mdl-button--colored.bg-red60 {background-color: rgba(244, 67, 54, .6)}
.mdl-button--fab.mdl-button--colored.bg-red80 {background-color: rgba(244, 67, 54, .8)}
.mdl-button--fab.mdl-button--colored.bg-red100 {background-color: rgb(244, 67, 54)}

.fg-green20 {color: rgba(0, 150, 136, .2)}
.fg-green40 {color: rgba(0, 150, 136, .4)}
.fg-green60 {color: rgba(0, 150, 136, .6)}
.fg-green80 {color: rgba(0, 150, 136, .8)}
.fg-green00 {color: rgb(0, 150, 136)}

.mdl-button--fab.mdl-button--colored.bg-green20 {background-color: rgba(0, 150, 136, 0.2)}
.mdl-button--fab.mdl-button--colored.bg-green40 {background-color: rgba(0, 150, 136, 0.4)}
.mdl-button--fab.mdl-button--colored.bg-green60 {background-color: rgba(0, 150, 136, .6)}
.mdl-button--fab.mdl-button--colored.bg-green80 {background-color: rgba(0, 150, 136, .8)}
.mdl-button--fab.mdl-button--colored.bg-green100 {background-color: rgb(0, 150, 136)}


.mdl-tooltip{text-align: justify; max-width: 400px;}
