<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ sysPass
  ~
  ~ @author nuxsmin
  ~ @link https://syspass.org
  ~ @copyright 2012-2023, Rubén Domínguez nuxsmin@$syspass.org
  ~
  ~ This file is part of sysPass.
  ~
  ~ sysPass is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ sysPass is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with sysPass.  If not, see <http://www.gnu.org/licenses/>.
  -->

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.1/phpunit.xsd"
         backupGlobals="false"
         bootstrap="./SPT/bootstrap.php"
         colors="true"
         processIsolation="false"
         stopOnFailure="false"
         cacheDirectory=".phpunit.cache"
         backupStaticProperties="false">
    <coverage>
        <report>
            <clover outputFile="./_output/coverage-clover.xml"/>
            <text outputFile="php://stdout" showUncoveredFiles="true"
                  showOnlySummary="true"/>
        </report>
    </coverage>
    <testsuites>
        <testsuite name="core">
            <directory suffix=".php">./SPT</directory>
            <exclude>./SPT/Modules</exclude>
            <exclude>./SPT/Services/Install/</exclude>
            <exclude>./SPT/Services/Backup</exclude>
            <exclude>./SPT/Generators</exclude>
            <exclude>./SPT/Domain/Account/Search/AccountSearchTokenizerDataTrait.php</exclude>
            <exclude>./SPT/DatabaseTestCase.php</exclude>
            <exclude>./SPT/DatabaseTrait.php</exclude>
            <exclude>./SPT/DatabaseUtil.php</exclude>
            <exclude>./SPT/PHPUnitHelper.php</exclude>
            <exclude>./SPT/UnitaryTestCase.php</exclude>
            <exclude>./SPT/bootstrap.php</exclude>
            <exclude>./SPT/Stubs/AccountRepositoryStub.php</exclude>
            <exclude>./SPT/Stubs/PublicLinkRepositoryStub.php</exclude>
            <exclude>./SPT/WebTestCase.php</exclude>
        </testsuite>
        <testsuite name="api">
            <directory suffix=".php">./SPT/Modules/Api</directory>
        </testsuite>
        <testsuite name="cli">
            <directory suffix=".php">./SPT/Modules/Cli</directory>
        </testsuite>
    </testsuites>
    <logging/>
    <source>
        <include>
            <directory suffix=".php">../lib/SP</directory>
        </include>
        <exclude>
            <directory suffix=".php">../lib/SP/DataModel</directory>
            <directory suffix=".php">../lib/SP/Html/Assets</directory>
            <directory suffix=".php">../lib/SP/Html/DataGrid</directory>
            <file>../lib/SP/Domain/Config/Adapters/ConfigData.php</file>
        </exclude>
    </source>
</phpunit>
