<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="./SP/bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
    <extensions>
        <extension class="SP\Tests\BypassFinalHook"/>
    </extensions>
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">../lib/SP</directory>
        </include>
        <exclude>
            <directory suffix=".php">../lib/SP/DataModel</directory>
            <directory suffix=".php">../lib/SP/Providers</directory>
            <directory suffix=".php">../lib/SP/Html/Assets</directory>
            <directory suffix=".php">../lib/SP/Html/DataGrid</directory>
            <file>../lib/SP/Config/ConfigData.php</file>
        </exclude>
        <report>
            <clover outputFile="./_output/coverage-clover.xml"/>
            <text outputFile="php://stdout" showUncoveredFiles="true"
                  showOnlySummary="true"/>
        </report>
    </coverage>
    <testsuites>
        <testsuite name="core">
            <directory suffix=".php">./SP</directory>
            <exclude>./SP/Modules</exclude>
        </testsuite>
        <testsuite name="api">
            <directory suffix=".php">./SP/Modules/Api</directory>
        </testsuite>
        <testsuite name="cli">
            <directory suffix=".php">./SP/Modules/Cli</directory>
        </testsuite>
    </testsuites>
    <logging/>
</phpunit>
