<?php
$CONFIG = array (
  'passwordsalt' => '68a77aa997d934d1259e729607233a',
  'version' => '1.0.3',
  'dbhost' => 'localhost',
  'dbname' => 'syspass',
  'debug' => 0,
  'logenabled' => 1,
  'ldapenabled' => 0,
  'mailenabled' => 0,
  'dbuser' => 'sp_admin',
  'dbpass' => 'mydb_secret_pass',
  'installed' => 0,
  'wikienabled' => 0,
  'demoenabled' => 0,
  'allowed_exts' => 'BAK,CSV,DOC,DOCX,GIF,JPG,ODS,ODT,PDF,PNG,TXT,VSD,XLS,XSL',
  'allowed_size' => 1024,
  'wikisearchurl' => 'http://wiki.foobar.com/wiki/doku.php/start?do=search&id=',
  'wikipageurl' => 'http://wiki.foobar.com/doku.php/',
  'wikifilter' => 'srv-',
  'ldapserver' => '',
  'ldapbase' => '',
  'ldapgroup' => '',
  'ldapuserattr' => '',
  'mailserver' => 'mail.foobar.com',
  'mailfrom' => 'syspass@foobar.com',
  'session_timeout' => 600,
  'account_link' => 1,
  'account_count' => 10,
  'sitelang' => 'en_US',
  'maintenance' => 0,
  'checkupdates' => 1,
  'filesenabled' => 1
);